<footer>
  <div class="pt-5 background2">
    <div class="container70 bt-5">
      <div class="row py-2">
        <div class="col-12 col-md">
          <h5 class="pb-4"><img src="assets/images/openedbook.png" alt="" width="50" height="50"><span
              class="ms-2 text-muted">For Education</span></h5>
          <ul class="list-unstyled text-small">
            <li class="pb-3"><a class="text-muted" href="#"><i class="fa fa-map-marker pe-2"></i>1500 Treat
                Ave, Suite 200
                San Francisco, CA 94110</a></li>
            <li class="pb-3"><a class="text-muted" href="#"><i class="fa fa-envelope pe-2"></i>vctung@outlook.com</a>
            </li>
            <li class="pb-3"><a class="text-muted" href="#"><i class="fa fa-phone pe-2"></i>1-800-800-2299
                (Support)</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <div class="row ">
            <div class="col-12 col-md">
              <h5 class="text-muted">Community</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Learners</a></li>
                <li><a class="text-muted" href="#">Partener</a></li>
                <li><a class="text-muted" href="#">developers</a></li>
                <li><a class="text-muted" href="#">Beta Teasers</a></li>
                <li><a class="text-muted" href="#">Translators</a></li>
                <li><a class="text-muted" href="#">Blog</a></li>
                <li><a class="text-muted" href="#">Teach Blog</a></li>
                <li><a class="text-muted" href="#">Teaching Center</a></li>
              </ul>
            </div>
            <div class="col-12 col-md">
              <h5 class="text-muted">Informations</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">About</a></li>
                <li><a class="text-muted" href="#">Pricing</a></li>
                <li><a class="text-muted" href="#">Blog</a></li>
                <li><a class="text-muted" href="#">Careers</a></li>
                <li><a class="text-muted" href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-12 col-md">
              <h5 class="text-muted">More</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Press</a></li>
                <li><a class="text-muted" href="#">Investors</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Help</a></li>
                <li><a class="text-muted" href="#">Accessibility</a></li>
                <li><a class="text-muted" href="#">Contact</a></li>
                <li><a class="text-muted" href="#">Articles</a></li>
                <li><a class="text-muted" href="#">Directory</a></li>
                <li><a class="text-muted" href="#">Affiliates</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 mb-2 background1">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto  text-dark">
            <li class="nav-item pe-2">Copyright &copy; 2021 Tuning Chi Vo</li>
          </ul>
          <ul class="nav">
            <li class="nav-item pe-3"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="nav-item pe-3"><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li class="nav-item pe-3"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="nav-item pe-3"><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</footer>